extends ../layout
    
block content
  script(src='../../javascripts/show_ticket.js')
  .container 
    .jumbotron
      h1 Showing Ticket
    
    .panel.panel-primary
      .panel-heading
        h2 Ticket Id: #{ticket.id}
      .panel-body
        table.table 
          thead
            tr
              th 
              th 
          tbody
            tr
              td Student
              td #{student.firstname} #{student.surname} (#{student.email})
            tr
              td Student Location
              td #{ticket.location}
            tr
              td Question
              td #{ticket.currentQuestion}
            tr
              td Student Comments
              td #{ticket.message}
            tr
              td Ticket Seen
              td #{ticket.seen}
            tr 
              td Ticket Open
              td #{ticket.open}
            tr
              td Status Notes
              td #{ticket.status}
    
    h2 Comments
    
    div#ticket_comments
    
    form(role='form', action="/../../comments/new", method="post", style='max-width: 300px;')
      .form-group
        label Message
        input.form-control(type='text', name='comment_text')
        input(type='hidden', name='user_id', value=user._id)
        input(type='hidden', name='ticket_id', value=ticket._id)
      button.btn.btn-default(type='submit') Submit
      
          
