extends ../layout
  
block content
  
  .container
    .jumbotron
      h1 Your Tickets 

    each ticket in tickets 
      .panel.panel-primary
        .panel-heading
          h2
            a(href='show/' + ticket._id, style='color: white;') Ticket Id: #{ticket._id}
        .panel-body
          table.table 
            thead
              tr
                th 
                th 
            tbody
              tr
                td Student
                td #{ticket.student.firstname} #{ticket.student.surname} (#{ticket.student.email})
              tr
                td Student Location
                td #{ticket.studentLocation}
              tr
                td Question
                td #{ticket.currentQuestion}
              tr
                td Student Comments
                td #{ticket.message}
              tr
                td Ticket Seen
                td #{ticket.seen}
              tr 
                td Ticket Open
                td #{ticket.open}
              tr
                td Status Notes
                td #{ticket.ticketStatus}
      
